.example-container {
  height: 330px;
  overflow-y: auto; scrollbar-width: none !important;
}

table {
  width: 100%;
 } .ak{
      position:fixed;
      margin-bottom: 25%;
      margin-left: 55%;
      border-color: brown;
    }