.example-container {
    height: 330px;
    overflow: auto;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    
      overflow-y: scroll;
      
          height: 355px;
        
      
        scrollbar-width: none !important;
   
  }
  
  table {
    width: 100%;
   } .ak{
        position:fixed;
        margin-bottom: 25%;
        margin-left: 55%;
        border-color: brown;
      }